.boton1{
    padding: 20px;
    border: 2px solid black;
    background-color:#DDBEE6 ;
}
.boton2{
    padding: 20px;
    border: 2px solid black;
    background-color:#DDBEE6 ;
}
.opacidad{
    opacity: 0.5;    
}